body {
    background-size: cover;
    background-color: #34b0da;
    background-position: 50% 5%;
    background-image: url("http://images.cnblogs.com/cnblogs_com/zhaoziwei/1421430/o_leimu.jpg");
    background-attachment: fixed;
    background-position: 50% 5%;
}

#main{
    min-width: 640px;
}

.CalTitle, .CalNextPrev, #q, #google_q, .cnblogs_code, .cnblogs_code div, .cnblogs_code_toolbar {
    background-color: #FFFFFF00; /* 透明 */
}

#topics, .day, .entrylist{
    background-color: #FFFFFF80; /* 半透明 */
}


#home {
    margin: 0 auto;
    width: 80%;/*原始65*/
    min-width: 980px; /*页面顶部的宽度*/
    background-color: rgba(245, 245, 245, 0.7);
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 2px 6px #6464644D;
}

#blogTitle {
    height: 100px;  /*高度*/
    clear: both;
    background-color: rgba(245, 245, 245, 0);
}
#blogTitle h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.8em;/*原始 1.6em*/
    margin-top: 10px;/*原始 15px */
    color: #60B0D0;
    /* color: #548B54; */
}
#blogTitle h2 {
    font-weight: normal;
    font-size: 17px;/*原始 16px ；font-size: 1.0rem;*/      
    line-height: 1.8;
    color: #111;
    font-weight: bold;
    text-align: right;
    float: right; 
}
#navigator{
    background-color: #60B0D0;
}
#navList a:link, #navList a:visited, #navList a:active{
    color: #eee;
    font-size: 18px;
    font-weight: bold;
}
.blogStats{
    color: #eee;
}
.postTitle {
    border-left: 8px solid #60B0D0;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    float: right;
    width: 100%;
    clear: both;
}
.postTitle a:link, .postTitle a:visited, .postTitle a:active {
    color: #21759b;
    transition: all 0.4s linear 0s;
}
.postTitle a:hover {
    margin-left: 30px;
    color: #0f3647;
    text-decoration: none;
}
.postCon {
    float: right;
    line-height: 1.5em;
    width: 100%;
    clear: both;
    padding: 10px 0;
}

.day .postTitle a {
    padding-left: 10px;
}

/*文章附加信息*/
.postDesc {   
    /* background: url(images/posted_time.png) no-repeat 0 1px; */
    color: #707070;
    float: left;
    width: 100%;
    clear: both;
    text-align: left;     
    font-family: "微软雅黑", "宋体", "黑体", Arial;
    font-size: 13px;
    padding-right: 20px; /*5px  padding-left: 90px;posted 发表时间左边距离*/
    margin-top: 20px;
    line-height: 1.8;
    padding-bottom: 35px;
}

.newsItem, .mySearch, #blog-calendar, .catList,
.catListEssay, .catListLink, .catListNoteBook, .catListTag, .catListPostCategory,
.catListPostArchive, .catListImageCategory, .catListArticleArchive, .catListView,
.catListFeedback, .catListComment, .catListBlogRank, .catListArticleCategory {
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 35px;
    word-wrap: break-word;
}


.catListTitle{
    background-color: #60B0D0;
}

#tbCommentBody {
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.5);
}



/* 广告 .c_ad_block */