---
layout: default
title: 武神工具包
page-title: 武神传说工具包
home-title: 欢迎使用，有任何 Bug 或问题请及时联系我
description: QQ群：953279200
---
{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        <li class="fadeInUp animated"><a href="./simulator">武道模拟器2</a></li>
        <li class="fadeInUp animated"><a href="./autoPractise">自动练习代码生成器</a></li>
        <li class="fadeInUp animated"><a href="./calculator">武神传说计算器</a></li>
        <li class="fadeInUp animated"><a href="./yaofang">药方研制表</a></li>
        <li class="fadeInUp animated"><a href="./equipment_purple">六大门派紫装表</a></li>
        <li class="fadeInUp animated"><a href="./equipment_orange">六大门派橙装表</a></li>
        <li class="fadeInUp animated"><a href="./multiwindowing">多开窗口</a></li>
        <!-- <li class="fadeInUp animated"><a href="https://suqing.fun/wsmud/simulator">武道模拟器（旧版第二轮有BUG）</a></li> -->


    </ul>
</main>
{% include footer.html %}