* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /*隐藏编辑*/
    -moz-user-select: none;
    -ms-user-select: none;
}
*::-webkit-scrollbar {
    display: none; /*隐藏系统很丑的滚动条*/
}

button {
    color: #BFBFBF;
    background-color: #404040;
    border: 0.1em solid #606060;
    border-radius: 0.5em;
    border-collapse: collapse;
    font-family: serif;
}
button:hover {
    background-color: #202020;
}
button:active {
    background-color: #101010;
    transform: translateY(0.1em);
}
table {
    margin: 1em auto;
    border-collapse: collapse;
}
th, td {
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    border: 0.1em solid #606060;
}
a {
    color: #C0C0C0;
    text-decoration: none;
}
a:hover {
    color: #008000;
}
a:active {
    color: #101010;
    transform: translateY(0.1em);
}



html, body {
    width: 100%;
    height: 100%;
    background-color: #000000;
}
body .hr {
    height: 0.1em;
    width: 30em;
    /* margin-left: 1em; */
    margin: auto;
    background-color: #808080;
}
header, main, footer {
    width: 30em;
    /* margin-left: 1em; */
    margin: auto;
    background-color: #202020;
    border-left: 0.1em solid #808080;
    border-right: 0.1em solid #808080;
}
header {
    height: 5em;
    line-height: 5em;
    color: #FFFFFF;
}
@font-face {
    font-family: "wscs";
    src: url("./font/wscs/wscs.woff") format("woff"),
         url("./font/wscs/wscs.ttf") format("truetype"),
         url("./font/wscs/wscs.svg") format("svg");
}
header p {
    font-size: 3em;
    font-family: wscs;
    padding-left: 0.33em;
}
footer {
    height: 5em;
    line-height: 1.5em;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
main {
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    color: #808080;
    background-color: #202020;
}


.主页菜单 {
    position: absolute;
    /* width: 100%; */
    height: 24em;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 2em;
}


.主页菜单 button {
    font-size: 1em;
    /* margin-top: 0.5em; */
    margin-bottom: 1em;
    padding: 0.5em;
}

.基础配置 {
    position: absolute;
    width: auto;
    height: auto;
    margin: auto;
    left: 0;
    right: 0;
    top: 2em;
}
.基础配置 .buttons {
    text-align: center;
}
.基础配置 button {
    font-size: 0.8em;
    margin: 0.5em;
    padding: 0.5em;
}
.基础配置 .role td {
    width: 8.3em;
}
/* 8*3 + 0.4 = 24.4 */
/* 0.5 9 7 5   21.5    =2.9 */
.基础配置 .skill .name {
    width: 9em;
}
.基础配置 .skill .id {
    width: 7.9em;
}
.基础配置 .skill .level {
    width: 5em;
}
.基础配置 .skill .delete {
    width: 2.9em;
}
.基础配置 .addSkill {
    width: 25em;
    table-layout: fixed;
}
.基础配置 .addSkill td {
    width: 8.3em;
}
#选择技能 {
    width: 8em;
}
#setAllLevelButton {
    padding: 0.2em 0.2em 0.2em 0.2em;
}
#skill_json {
    width: 16.6em;
    overflow: hidden;
    white-space: nowrap;
}


.模拟练习 {
    position: absolute;
    width: auto;
    height: auto;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
}
.模拟练习 button {
    padding: 0.5em;
}
.practice .p1 {
    width: 9em;
}
.practice .p2, .practice .p3 {
    width: 5em;
}
.practice .p4 {
    width: 4em;
}
.practice .p5 {
    width: 1.5em;
}

/* 0.6 9 5 5 4 1.5 = 2.1+23 = 25.1 */
/* 0.4 + 24.7 = 0.4 + 9 + 9 + (24.7-18=6.7) */
.autowork .p1, .autowork .p2 {
    width: 9em;
}
.autowork .p3 {
    width: 6.7em;
}
.autowork .text {
    text-align: left;
    font-size: 0.9em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: 24.9em;
}
#autocode {
    /* word-wrap: ; 自动断行 */
    white-space: pre-wrap;
}

.模拟武道 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 2em;
}
.模拟武道 .wudao td {
    width: 26.2em;
    height: 3em;
}
.模拟武道 button {
    font-size: 1em;
    height: 2em;
    margin: 0.5em;
}
.模拟武道 .type {
    width: 3em;
}
.模拟武道 .prop {
    width: 5em;
}
.模拟武道 .skillsToWd button {
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.clicked {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.wudaos {
    background-color: #202020;
}
.wudaos .p1 {
    width: 8em;
}
.wudaos .p2 {
    width: 3em;
}
.wudaos .p3 {
    width: 15em;
}
#confirm,
#retract,
#reset {
    padding-left: 0.3em;
    padding-right: 0.3em;
    color: #009000;
    border-color: #009000;
}
#btn_download {
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.武道流程 .readme {
    padding: 1em;
}
.武道流程 .readme p {
    margin: 0.5em;
}
#process_code {
    font-size: 0.5em;
    /* white-space: pre-wrap; */
    max-height: 30em;
    overflow: scroll;
    margin-bottom: 2em;
}
.武道流程 button {
    position: absolute;
    width: 5em;
    font-size: 1em;
    padding: 0.3em;
    margin: auto;
    left: 0;
    right: 0;
}

.日志输出 {
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8em;
    color: #008000;
}


.读取配置 button {
    font-size: 1em;
    margin: 0.3em;
    padding: 0.3em;
}

.disable {
    color: #606060;
}
.editable {
    background-color: #101010;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}
.color0 {
    color: #FFFFFF;
}
.color1 {
    color: #00FF00;
}
.color2 {
    color: #00FFFF;
}
.color3 {
    color: #FFFF00;
}
.color4 {
    color: #912CEE;
}
.color5 {
    color: #FFA500;
}
.color6 {
    color: #FF0000;
}

.color10 {
    color: #008000;
}
.color20 {
    color: #202020;
}
.color40 {
    color: #404040;
}


.qqqun {
    margin: 2em;
    text-align: center;
    line-height: 1.5em;
}
.ps {
    text-align: left;
}