.color_0 {
    color: #FFFFFF;
}
.color_1 {
    color: #00FF00;
}
.color_2 {
    color: #00FFFF;
}
.color_3 {
    color: #FFFF00;
}
.color_4 {
    color: #912CEE;
}
.color_5 {
    color: #FFA500;
}
.color_6 {
    color: #FF0000;
}

.color_10 {
    color: #008000;
}