body {
	background: #404040;
	color: #ffffff;
}
td {
	border: 1px solid #ccc;
}
.白 {
	color: #ffffff;
}
.绿 {
	color: #33CC33;
}
.蓝 {
	color: #00ffff;
}
.黄 {
	color: #ffff00;
}
.紫 {
	color: #CC00FF;
}
.橙 {
	color: #ff9e00;
}
.green {
	color: #008000;
	width: 9em;
	text-align: center;
}