body {
    background: #404040;
    color: #ffffff;
}
table {
    border-collapse: collapse;
    margin: 2em;
}
td {
    width: 5em;
    text-align: center;
    border: 0.1em solid #ffffff;
}

#log {
    height: 10em;
    font-size: 0.8em;
    background: #000000;
    overflow-y: auto;
    overflow-x: hidden;
}

.editable {
    background: #808080;
}
.green {
    color: lime;
}
.blue {
    color: lightblue;
}
.yellow {
    color: yellow;
}
.purple {
    color: purple;
}