<nav class="pagination">
    <!-- 苏轻最后修改于2019年2月27日 -->
    <div class="page-links" style="width:180px;">
        <!-- 上一页 -->
        {% if paginator.page == 1 %}
            <a href="" onclick="return false;" class="page-link"></a>
        {% endif %}
        {% if paginator.page == 2 %}
            <a href="/" class="page-link"><<</a>
        {% endif %}
        {% if paginator.page > 2 %}
            <a href="/page{{ paginator.previous_page }}/" class="page-link"><<</a>
        {% endif %}
        <!-- 当前页 -->
        <a href="" onclick="return false;" class="page-link">{{ paginator.page }}</a>
        <!-- 下一页 -->
        {% if paginator.next_page %}
            <a href="/page{{ paginator.next_page }}/" class="page-link" title="Next Page">>></a>
        {% else %}
            <a href="" onclick="return false;" class="page-link"></a>
        {% endif %}
    </div>
</nav>