* { /*格式化*/
    margin: 0;  /*外边距*/
    padding: 0; /*内边距*/
}

html, body {
    height: 100%;
}

header {
    background: #404040;
}

#content {
    min-height: 100%;
    padding-bottom: -2em;
    background: #505050;
}
#footer {
    color: #ffffff;
    background: #404040;
    text-align: center;
    height: 2em;
    line-height: 2em;
    margin-top: -2em;
}

.title {
    background: #404040;
    font-size: 2em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.5em;
}
.title a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.navigationBar {
    padding-left: 2em;
}
.navigationBar li {
    float: left;
    display: inline;
    margin-right: 1em;
}
.navigationBar li a {
    display: block;
    text-align: center;
    text-decoration: none; /*不需要下划线*/
    color: #ffffff;
    background: #505050;
}
.navigationBar li a:hover {
    background: #696969;
}

