.color0 {
    color: #FFFFFF;
}
.color1 {
    color: #00FF00;
}
.color2 {
    color: #00FFFF;
}
.color3 {
    color: #FFFF00;
}
.color4 {
    color: #912CEE;
}
.color5 {
    color: #FFA500;
}
.color6 {
    color: #FF0000;
}

.color10 {
    color: #008000;
}

.color40 {
    color: #404040;
}