.button {
    border: 0.1em solid gray;
    border-collapse: collapse;
    background: #404040;
    color: #bfbfbf;
    text-align: center;
}
.clickedButton {
    border: 0.1em solid white;
    border-collapse: collapse;
    background: #404040;
    color: white;
    text-align: center;
}
.clickedWuDaoButton {
    border: 0.1em solid white;
    border-collapse: collapse;
    background: #404040;
    color: white;
    text-align: center;
}

table {
	width: 38em;
	margin: 2em auto;
	border-collapse: collapse;
}
th,td {
	height: 1em;
	/*width: 5.0em;*/
	line-height: 1.5em;
	text-align: center;
	border: 0.1em solid #ffffff;
}

.skillNameTd {
	font-size: 0.8em;
/*	width: 8em;*/
}
.affixTd {
	font-size: 0.8em;
/*	width: 15em;*/
}
.editable { /* 可编辑的 TD */
	background: #303030;
}

.白色 {
	color:white;
}
.绿色 {
	color:#33CC33;
}
.蓝色 {
	color:aqua;
}
.黄色 {
	color:yellow;
}
.紫色 {
	color:#CC00FF;
}
.橙色 {
	color:orange;
}

.hidden {
	display: none;
}