---
layout: default
title: 君将何处去
page-title: 子站点 & 友情链接
home-title: 可以联系我挂上友情链接
description: 
---

{% include header.html %}
{% include boot.html %}

<main>
    {% include title.html %}
    <ul class="ex-list">
        <!-- {% for link in site.links %}
        <li  class="fadeInUp animated">
            <span class="tag-name"><a href="{{ link[1] }}">「&emsp;{{ link[0] }}&emsp;」</a></span>
        </li>
        {% endfor %} -->
        <li  class="fadeInUp animated">
            <span class="tag-name"><a href="/wsmud/">「&emsp;武神小站&emsp;」</a></span>
        </li>
        <li  class="fadeInUp animated">
                <span class="tag-name"><a href=”https://jicki.me/“>「&emsp;小炒肉 Blog&emsp;」</a></span>
            </li>
    </ul>
</main>

{% include footer.html %}