#table_add td {
    height: 2.5em;
    line-height: 2.5em;
}

#table_add div {
    display: block;
    float: left;
}

#table_add .label {
    width: 30%;
    text-align: right;
}
#table_add .input {
    width: 70%;
    text-align: left;
}
#table_add .input .val {
    width: 60%;
    margin-left: 2em;
}

#input_name {
    color: #FFFFFF;
}

