body {
	color: white;
	background-color: black;
}

.button {
    border: 1px solid gray;
    border-collapse: collapse;
    background: black;
    color: gray;
    text-align: center;
    font-size: 14px;
}

#list {
	margin: 10px auto;
	text-align: center;
}

table {
    width: 90%;
    background: black;
    margin: 10px auto;
    border-collapse: collapse;
}

th, td {
	height: 25px;
	width: auto;
	line-height: 25px;
	text-align: center;
	border: 1px solid #ccc;
}

#code {
	width: 90%;
	margin: 10px auto;
	border: 1px solid white;
	/*word-wrap: break-word;*/
	line-height: 25px;
	padding: 10px 10px 10px 10px;
}

header {
	text-align: center;
}

footer {
	text-align: right;
}

small {
	color: orange;
}

#log {
	color: cadetblue;
	font-size: 10px;
}
.biglog {
	color: skyblue;
}