body { color: white; background-color: black; }

#title { text-align: center; }

.skillButton {
    border: 1px solid gray;
    border-collapse: collapse;
    background: black;
    color: gray;
    text-align: center;
    font-size: 14px;
}


{
    display: inline-block;
    border: solid 1px gray;
    color: gray;
    background-color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25em;
    min-width: 2.5em;
    margin-right: 0.4em;
    margin-left: 0.4em;
    position: relative;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.skillButtonClicked {
    border: 1px solid white;
    border-collapse: collapse;
    background: black;
    color: white;
    text-align: center;
    font-size: 14px;
}

#list {
	margin: 10px auto;
	text-align: center;
}

table {
    width: 90%;
    background: black;
    margin: 10px auto;
    border-collapse: collapse;
}

th, td {
	height: 25px;
	width: auto;
	line-height: 25px;
	text-align: center;
	border: 1px solid #ccc;
}

.tr1 { color:white; }  /*白色*/
.tr2 { color:#33CC33; }  /*绿色*/
.tr3 { color:aqua; }  /*蓝色*/
.tr4 { color:yellow; }  /*黄色*/
.tr5 { color:#CC00FF; }  /*紫色*/
.tr6 { color:orange; }  /*橙色*/




#code {
	width: 90%;
	margin: 10px auto;
	border: 1px solid white;
	line-height: 25px;
	padding: 10px 10px 10px 10px;
}



#helpme { color: orange; }

#notice { color: #f25355; }

#log { color: cadetblue; font-size: 10px; }

.helperName { color: lightblue; }