body {
	/*background-color: black;*/ /* 背景颜色*/
	color: white; /* 文本颜色 */

}

table {
	width: 80%;
    background: black;
    margin: 10px auto; /* 与上边缘的距离 */
    border-collapse: collapse; /* 边框合并为一个单一的边框 */
}

th, td {
	font-size: 10px;
	font-family: sans-serif;
	height: 25px; /* 行高 */
	text-align: center; /* 文本居中 */
	border:1px solid #ffffff; /* 边框实线 */
}